@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CQRS/Event Sourcing</h1>
    <p class="lead">CQRS stands for Command Query Responsibility Segregation. It's a pattern that I first heard described by Greg Young. At its heart is the notion that you can use a different model to update information than the model you use to read information. While this is more complex than is needed in most cases, it does fit well with a significant class of problems.</p>
    <p><a href="http://martinfowler.com/bliki/CQRS.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View All Mongo Collections</h2>
        <p>
            Start this demo by viewing all the document collections in the Mongo instance.
        </p>
        <p>@Html.ActionLink("View Collections", "ViewCollections", "Details")</p>
    </div>
</div>