@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CQRS/Event Sourcing</h1>
    <p class="lead">CQRS stands for Command Query Responsibility Segregation. It's a pattern that I first heard described by Greg Young. At its heart is the notion that you can use a different model to update information than the model you use to read information. While this is more complex than is needed in most cases, it does fit well with a significant class of problems.</p>
    <p><a href="http://martinfowler.com/bliki/CQRS.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>