
@{
    ViewBag.Title = "Links";
}
<br />
<strong>CQRS:</strong>
<ol>
    <li>
        <a href="http://martinfowler.com/bliki/CQRS.html">http://martinfowler.com/bliki/CQRS.html</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/en-us/library/dn568103.aspx">https://msdn.microsoft.com/en-us/library/dn568103.aspx</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/en-us/library/jj554200.aspx">https://msdn.microsoft.com/en-us/library/jj554200.aspx</a>
    </li>
    <li>
        <a href="http://en.wikipedia.org/wiki/Command%E2%80%93query_separation">http://en.wikipedia.org/wiki/Command%E2%80%93query_separation</a>
    </li>
    <li>
        <a href="http://abdullin.com/post/when-not-to-use-cqrs/">http://abdullin.com/post/when-not-to-use-cqrs/</a>
    </li>
</ol>
<br />
<strong>Event Sourcing:</strong>
<ol>
    <li>
        <a href="http://martinfowler.com/eaaDev/EventSourcing.html">http://martinfowler.com/eaaDev/EventSourcing.html</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/en-us/library/dn589792.aspx">https://msdn.microsoft.com/en-us/library/dn589792.aspx</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/en-us/library/jj591559.aspx">https://msdn.microsoft.com/en-us/library/jj591559.aspx</a>
    </li>
    <li>
        <a href="http://cqrs.nu/Faq/event-sourcing">http://cqrs.nu/Faq/event-sourcing</a>
    </li>
</ol>
<br />
<strong>Microservices:</strong>
<ol>
    <li>
        <a href="http://martinfowler.com/articles/microservices.html">http://martinfowler.com/articles/microservices.html</a>
    </li>
    <li>
        <a href="http://microservices.io/patterns/microservices.html">http://microservices.io/patterns/microservices.html</a>
    </li>
    <li>
        <a href="http://www.infoq.com/articles/microservices-intro">http://www.infoq.com/articles/microservices-intro</a>
    </li>
</ol>

