@model EventStore.Web.Models.ViewCollectionsModel

@{
    ViewBag.Title = "View Collections";
}

<br />

<table cellpadding="15px">

    @foreach (var collectionName in Model.Collections)
    {
        <tr>
            <td>
                @collectionName
            </td>  
            <td>
                @Html.ActionLink("View", "ViewEntities", new { CollectionName = collectionName })
            </td>
        </tr>
    }

</table>