@model EventStore.Web.Models.ViewEntitiesModel

@{
    ViewBag.Title = "View Entities";
}

<br />

<table cellpadding="15px">

    @foreach (var hospital in Model.Hospitals)
    {
        <tr>
            <td>
                @hospital.Name
            </td>
            <td>
                @Html.ActionLink("View", "ViewEntityDetails", new { EntityId = hospital.Id })
            </td>
        </tr>
    }

</table>